/target
/approximate_fitness.m 
/calcFitness_in_greedy.m 
/changeDataFunction.m 
/create_nei.m 
/createInitialPopus.m 
/createSchedule_in_greedy.m 
/createScheduleSubFactory.m 
/crossDAJSP.m 
/find_keyblock.asv 
/find_keyblock.m 
/find_keypath_schedule.m 
/find_rows_in_schedule.m 
/find_schedule_question.m 
/mark_keyblocks.m 
/muteDAJSP.m 
/right_schedule.m 
/selectChromos.m 
/thisMinCmax 
/TS_with_greedy4DAJSP.m
/*.m